.form-group {
  margin-bottom: 5px;
}

.form-horizontal .control-label {
  padding-top: 6px;
}

.form-control {
  line-height: 20px;
  padding: 5px 8px;
  height: 34px;
  border-color: #ccd1d9;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

textarea.form-control {
  height: 70px;
}

.garis-bawah {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  border-bottom: 0.5pt solid #efecec;
}

.btn.btn-xxs {
  font-size: 15px;
  line-height: 11px;
  padding: 3px 7px;
}

fieldset {
  border: 1px solid #929292;
  padding: 5px;
  background-color: #f9f9f9;
}

legend {
  width: auto;
  border: #ccd1d9;
  font-size: 17px;
  padding: 5px;
  margin-left: 15px;
  margin-bottom: 0px;
}

.box-content {
  position: relative;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 1px 1px rgb(0 0 0 / 5%);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 1px 1px rgb(0 0 0 / 5%);
}

.box-content .box-title {
  margin: 0px 0px 10px 0px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

summary {
  display: list-item;
}

details > ul {
  list-style-type: none;
}

.dt-nowrap {
  white-space: nowrap;
}

table.dataTable tfoot th {
  padding: 10px 8px 6px 18px;
  border-top: 1px solid #111;
}
